<h1>{{capitalize singleAnimal.animal_name}}</h1>
<section>
  <div>
    <img src={{singleAnimal.img_link}} alt={{singleAnimal.name}} />
  </div>
  <div>
    <label><b>Habitat</b></label>
    <p>{{singleAnimal.habitat}}</p>
    <label><b>Origin</b></label>
    <p>{{singleAnimal.origin}}</p>
    <label><b>Facts</b></label>
    <p>{{singleAnimal.facts}}</p>
    <label><b>Myths</b></label>
    <p>{{singleAnimal.myths}}</p>
  </div>
</section>
